<br><br><br><br><br><br>
<div class="animated fadeIn ae-grid__item item-lg-6 contact letrica ">
    <h2 class="center-h2">CONTAC ME</h2>
    <hr>
  <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="enviarCorreo()" class="ae-form--full">
    <input type="text" formControlName="name" placeholder="* Name">
    <input type="email" formControlName="email" placeholder="* Email">
    <textarea placeholder="Message ..." formControlName="message" cols="30" rows="4"></textarea><br>
    <button type="submit" class="btn btn-dark btn-center">Enviar</button>
  </form>
</div>
