.contact{
    margin-left: 30%;
    margin-right: 30%;
  }

.send{
    margin-right: 40%
  }

.letrica{
    font-family: 'Iceland', cursive;
    font-size: 18px;
  }

.center-h2{
    text-align: center;
  }