<br><br><br><br><br><br>
<div class="ae-grid ae-grid--collapse">
  <div class="animated fadeIn ae-grid__item item-lg-5 letrica form1">
    <div class="img">
      <img src="../../../assets/img/register.jpg">
    </div>
  </div>
  <div class="animated fadeIn ae-grid__item item-lg-5 letrica form1">
    <form [formGroup]="registerUser" (ngSubmit)="onSubmit()" class="ae-form--full">
      <h2 class="center-h2">REGISTER</h2>
      <hr>
      <input type="text" formControlName='name' placeholder="* Full Name" required>
      <input type="text" formControlName="username" placeholder="* Username" required>
      <input type="email" formControlName="email" placeholder="* Email" required><br>
      <button type="submit" class="btn btn-dark btn-center"> register </button>
    </form>
  </div>
</div>
