.text{
    text-justify: auto;
    font-family: 'Iceland', cursive; 
}

.home{
    margin-left: 7%;
    margin-right: 5%;
    text-align: justify;
}
.home2{
    margin-left: 7%;
    margin-right: 5%;
    text-align: justify;
}
