
<section class="animated bounce ae-container-fluid ae-container-fluid--full">
    <header class="rk-portfolio-cover  item-inside-1">
      <div class="item-inside__meta">
      </div>
    </header>
    <div class="ae-container-fluid" >
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-3 item-sm-10 item-xs-10 au-lg-ta-left home">
          <p class="ae-eta text">{{textHome[0]}} </p> 
        </div>
        <div class="ae-grid__item item-lg-6 item-sm-10 item-xs-10 au-lg-ta-right rk-portfolio-details home2">
          <p class="ae-eta text">{{textHome[1]}} <br> <br> 
            <a routerLink="/register" class="rk-menu__link"><strong>{{textHome[2]}}</strong></a>
          </p>
        </div>
      </div>
    </div>
  </section>